<div class="tweet">
  <div class="avatar-col">
    <img class="profile-img avatar" src="{{tweet.user.profile_image_url}}">
  </div>
  <div class="body-col">
    <span class="twitter-name">{{ tweet.user.name}}</span><span class="twitter-screen-name">@{{tweet.user.screen_name}}</span>
    <div autolinker text="tweet.text">
    </div>
    <span class="tweet-stat" tweet-stat="retweet" ng-class="{ 'stat-action-taken': actionTaken == true }">
        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
        <span class="tweet-stat"> {{ statcount }}</span>
    </span>
    <span class="tweet-stat" tweet-stat="favorite" ng-class="{ 'stat-action-taken': actionTaken == true }">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{ statcount }}
    </span>
    <div class="reply" count-chars>
      <input ng-model="currentResponse">
      <button type="submit" ng-click="replyToPost( tweet, currentResponse )"  class="btn btn-default">reply</button> {{ count }} 
    </div>
  </div>
</div>



  
