<div class="convo-tweet" ng-class="{user_tweet: tweet.user.id_str == twitterUser.id_str}">
  <div class="avatar-col">
    <img class="profile-img avatar" src="{{tweet.user.profile_image_url}}">
  </div>
  <div class="body-col">
      <span class="twitter-name">{{ tweet.user.name}}</span><span class="twitter-screen-name"><a href="http://www.twitter.com/{{tweet.user.screen_name}}" target="_blank">@{{tweet.user.screen_name}}</a></span>
    <div autolinker text="tweet.text"></div>
    <span class="tweet-stat" tweet-stat="retweet" ng-class="{ 'stat-action-taken': actionTaken == true }">
        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span><span class="tweet-stat"> {{ statcount }}</span>
    </span>
    <span class="tweet-stat" tweet-stat="favorite" ng-class="{ 'stat-action-taken': actionTaken == true }">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="tweet-stat"> {{ statcount }}</span>
    </span>
    <span class="tweet-stat" tweet-stat="followers" ng-class="{ 'stat-action-taken': actionTaken == true }">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ statcount }}
    </span>
    <span ng-click="reply=!reply" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
    
    <div class="reply" ng-show="reply" count-chars>
      <input ng-model="currentResponse">
      <button type="submit" class="btn btn-default" ng-click="replyToPost( tweet, currentResponse )">reply</button> {{ count }}
    </div>
  </div>
</div>

