<div id="app">
  <nav class="navbar navbar-default">
    <div class="container">
      <div ng-controller="AuthCtrl">
	<div ng-click="logOut()"> LOGOUT </div>
      </div>
      <div ng-click="authTwitter()"> AUTHORIZE TWITTER </div>
      <div ng-click="getPosts()"> GET TWITTER POSTS </div>
      <div ng-click="getEntities()"> GET ENTITIES </div>
    </div>
  </nav>


  <div class="cnkt-col">
    <div ng-repeat="tweet in posts"> 
      <div ng-include="'tweet.html'"></div>
    </div>
  </div>
  <div class="cnkt-col offset-1">
    <div ng-repeat="tweet in tweetsWithSearchTerm" > 
      <div ng-include="'cnkt_tweet.html'"></div>
    </div>
  </div>

  <div class="cnkt-col offset-2">
    <div class="convo" ng-repeat="convo in conversations" > 
      {{ $index }} ||
      <div ng-repeat="tweet in convo">
      <div ng-include="'tweet.html'"></div>
      </div>
	<input ng-model="currentResponse">
	<button ntype="submit" class="btn btn-default" ng-click="replyToPost( blah, currentResponse )"> 
      </div>
    </div>
  </div>
</div>

