<div id="app">
  <nav class="navbar navbar-default">
    <ul class="nav nav-pills">
      <li ng-controller="AuthCtrl">
	<span ng-click="logOut()"> LOGOUT </span>
      </li>
      <li ng-click="authTwitter()"> AUTHORIZE TWITTER </li>
    </ul>
  </nav>
  <div class="cnkt-col">
    <div class="tweet-unit" ng-repeat="tweet in posts"> 
      <div ng-include="'tweet.html'"></div>
    </div>
  </div>
  <div class="cnkt-col offset-1">
    <div ng-show="loading_tweets" id="loading-tweets" class="animated pulse">loading tweets</div>
    <div class="tweet-unit" ng-repeat="tweet in tweetsWithSearchTerm"> 
      <div animate-on-send ng-include="'cnkt_tweet.html'"></div>
    </div>
  </div>

  <div class="cnkt-col offset-2 convo-col">
    <div ng-show="loading_conversations" id="loading-conversations" class="animated pulse">loading conversations</div>
     <div ng-show="refreshConvos" id="view_new_convos" class="animated bounceInLeft" ng-click="getConvos()">new conversations. click here to view.</div>
    <div class="convo tweet-unit" ng-repeat="convo in conversations" > 
      <div ng-repeat="tweet in convo">
	<div ng-include="'convo_tweet.html'"></div>
      </div>
    </div>
  </div>
</div>

