<div class="alert alert-warning" ng-show="show_error_bar">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>Error</strong> {{ error_text }}
</div>
<div class="login-form">
  <div class="login-form-inner">
    Enter Email to Retrieve Password
    <form action="" method=post class="form-horizontal">
      <div class="form-group">
        <input ng-model="email_to_reset" type="text" id="email" name="email" class="input-xlarge form-control" placeholder="email" required>
      </div>
      <div class="form-group">
        <button type="submit" ng-click="sendResetEmail()" class="btn btn-success">Send</button>
      </div>
    </form>
  </div>
</div>
