<div class="register" ng-click="registerPage()">
  register
</div>
<div class="login" ng-click="loginPage()">
  login
</div>
<ul class="cb-slideshow">
	<li>
		<span>Image 01</span>
		<div>
			<h3>most organizations use twitter to broadcast information.</h3>
		</div>
	</li>
	<li>
		<span>Image 01</span>
		<div>
			<h3>is anybody there? stop tweeting in the dark.</h3>
		</div>
	</li>
	<li>
		<span>Image 01</span>
		<div>
			<h3>broadcasting is fine. Connecting is better</h3>
		</div>
	</li>
	<li>
		<span>Image 01</span>
		<div>
			<h3>CNKT turns Twitter into a conversational platform.</h3>
		</div>
	</li>
	<li>
		<span>Image 01</span>
		<div>
			<h3>Find tweeters who are genuinely interested in what you have to say and start conversing</h3>
		</div>
	</li>
	<li>
		<span>Image 01</span>
		<div>
			<h3>Try it free for a week. $5 a month after that. </h3>
		</div>
	</li>
</ul>
