<div class="register" ng-click="registerPage()">
  register
</div>
<div class="login" ng-click="loginPage()">
  login
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="pic c1">
			</div>
			<div class="carousel-caption">
				<h1>Ever feel like your organization is tweeting in the dark?</h1>
			</div>
		</div>
		<div class="item">
			<div class="pic c2">
			</div>
			<div class="carousel-caption">
				<h1>cnkt turns Twitter into a conversational platform</h1>
			</div>
		</div>
		<div class="item">
			<div class="pic c2">
			</div>
			<div class="carousel-caption">
				<h1>stop just broadcasting, start connecting.</h1>
				<p><h2>..with people genuinely interested in what you have to say</h2></p>
			</div>
		</div>
		<div class="item">
			<div class="pic c2">
			</div>
			<div class="carousel-caption">
				<h1>Try it free for a week. $5 a month after that. </h1>
			</div>
		</div>	
	</div>
	
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

  <!--
<ul class="cb-slideshow">
  <li>
    <span>Image 01</span>
    <div>
      <h3>Ever feel like your organization is tweeting in t he dark?.</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>cnkt turns Twitter into a conversational platform</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>stop merely <i>broadcasting</i>. Start <i>conversing<i>, with people genuinely interested in what your have to say.</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>Try it free for a week. $5 a month after that. </h3>
    </div>
  </li>
</ul>
-->
