<div class="login-form login-register-form">
  <div class="login-form-inner">    
    <div class="cnkt-header">
      cnkt
    </div>
    <div class="helper-text">
      register for cnkt
    </div>
    <form name="registerForm" novalidate action="" method=post class="form-horizontal">
      <div  class="form-group">
        <input type="email" ng-model="email" id="email" name="email" class="input-xlarge form-control" placeholder="email" required>
      </div>
      <div class="form-group">
        <input ng-MinLength="6" type="password" ng-model="password" type="password" id="password" name="password" class="input-xlarge form-control" placeholder="password" required>
      </div>
      <div class="form-group">
        <input ng-MinLength="6" type="password" id="password" name="password_2" class="input-xlarge form-control" ng-model="password_again" placeholder="re-enter password" required pw-check="password">
      </div>
      <div class="formError" class="error" ng-show="registerForm.email.$error.required && registerForm.email.$dirty">
	email required</div>
      <div class="formError" class="error" ng-show="!registerForm.email.$valid && registerForm.email.$dirty">
	invalid email</div>
      <div class="formError" ng-show="registerForm.password.$dirty  && !registerForm.password.$valid">
	  password must be more that 5 charactors
      </div>
      <div class="form-group">
        <button type="submit" ng-disabled="registerForm.$invalid" ng-click="signup()" class="btn">Signup</button>
      </div>
    </form>
  </div>
</div>

