<div ng-controller="AuthCtrl"> 
 <form action="" method=post class="form-horizontal">
    <h2>Sign up for FlaskLogin(Todo) Application sfdsadf </h2>
    <div class="control-group">
        <div class="controls">
          <input ng-model="username" type="text" id="username" name="username" class="input-xlarge"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input ng-model="password" type="password" id="password" name="password" class="input-xlarge"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input ng-model="email" type="email" id="email" name="email" class="input-xlarge"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" ng-click=signup() class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
</div>
