.convo {
  padding-bottom: 20px;
  border-bottom: 1px solid black; }

.navbar {
  background-color: black;
  border: 0px solid transparent;
  border-radius: 0px; }

.cnkt-col {
  height: 100%;
  margin-right: 10px;
  width: 300px;
  overflow: scroll;
  position: fixed;
  float: left;
  background-color: white;
  left: 20px;
  padding: 0 10px 0 10px; }

.offset-1 {
  left: 330px; }

.offset-2 {
  left: 640px; }

.convo-col {
  width: 355px; }

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #a53838; }

.tweet, .convo-tweet {
  padding: 10px;
  padding-left: 0; }
  .tweet .avatar-col, .convo-tweet .avatar-col {
    width: 58px;
    float: left; }
  .tweet .avatar, .convo-tweet .avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px; }
  .tweet .body-col, .convo-tweet .body-col {
    width: 250px;
    word-wrap: break-word;
    padding-left: 58px; }
  .tweet .reply, .convo-tweet .reply {
    width: 100%;
    font-size: 12px;
    margin-top: 10px; }
    .tweet .reply input, .convo-tweet .reply input {
      width: 125px;
      height: 18px; }
    .tweet .reply button, .convo-tweet .reply button {
      width: 50px;
      height: 18px;
      padding: 0 0;
      font-size: 10px;
      background-color: #a53838; }

.convo-tweet:first-of-type {
  margin-top: 10px; }

.convo-tweet {
  padding: 10px;
  font-size: 10px;
  line-height: 1.1;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 220px; }
  .convo-tweet .avatar-col {
    width: 29px;
    float: left; }
  .convo-tweet .avatar {
    width: 24px;
    height: 24px;
    border-radius: 3px; }
  .convo-tweet .body-col {
    width: 200px;
    word-wrap: break-word;
    padding-left: 29px; }
  .convo-tweet .reply {
    width: 100%;
    font-size: 10px;
    margin-top: 10px; }
    .convo-tweet .reply input {
      width: 75px;
      height: 18px; }
    .convo-tweet .reply button {
      width: 25px;
      height: 18px;
      padding: 0 0;
      font-size: 10px;
      background-color: black; }

.convo-tweet.left {
  margin-left: 100px; }

.tweet-unit {
  padding-bottom: 10px; }

.search-term {
  #  background-color: yellow;
  font-size: 16px; }

#loading-conversations, #loading-tweets {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite; }

#view_new_convos {
  width: 340px;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  background-color: black;
  color: white;
  margin: -10px;
  cursor: pointer;
  cursor: hand;
  margin-left: -10px;
  padding-bottom: 10px;
  margin-bottom: 10px; }
