/* light to dark? */
a {
  cursor: pointer;
  cursor: hand; }

.convo {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc; }

.navbar-default .navbar-nav > li > a {
  color: #d2e2e3; }

.navbar {
  background-color: #5e97a0;
  border: 0px solid transparent;
  border-radius: 0px;
  margin-bottom: 30px; }

.cnkt-col {
  margin-right: 10px;
  width: 300px;
  position: fixed;
  float: left;
  left: 20px;
  margin-right: 10px;
  float: left;
  height: 80%; }

.col-body:before {
  content: '';
  float: left;
  height: 100%; }

.col-body {
  height: 100%;
  width: 300px;
  overflow: scroll;
  background-color: white;
  left: 20px;
  padding: 0 10px 0 10px; }

.col-body:after {
  content: '';
  display: block;
  clear: both; }

.offset-1 {
  left: 330px; }

.offset-2 {
  left: 640px; }

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #d2e2e3; }

.tweet, .convo-tweet {
  padding: 10px;
  padding-left: 0; }
  .tweet .avatar-col, .convo-tweet .avatar-col {
    width: 58px;
    float: left; }
  .tweet .avatar, .convo-tweet .avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px; }
  .tweet .body-col, .convo-tweet .body-col {
    width: 250px;
    word-wrap: break-word;
    padding-left: 58px; }
  .tweet .reply, .convo-tweet .reply {
    width: 100%;
    font-size: 12px;
    margin-top: 10px; }
    .tweet .reply input, .convo-tweet .reply input {
      width: 120px;
      height: 18px; }
    .tweet .reply button, .convo-tweet .reply button {
      width: 40px;
      height: 18px;
      padding: 0 0;
      font-size: 10px;
      background-color: #d2e2e3; }

.convo-tweet {
  border: 3px solid #28c7e1;
  background-color: #28c7e1;
  margin: 3px;
  padding: 3px;
  border-radius: 10px;
  position: relative;
  min-height: 60px; }

.convo-tweet {
  margin-bottom: 25px;
  position: relative;
  margin: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.25); }

.convo-tweet:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #28c7e1 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -19px;
  left: 1em; }

.convo-tweet {
  margin-top: 20px; }

.convo-tweet.user_tweet {
  border: 3px solid #d2e2e3;
  background-color: #d2e2e3; }

.convo-tweet.user_tweet:after {
  border-color: #d2e2e3 transparent transparent transparent;
  bottom: -19px;
  left: auto;
  right: 1em; }

.tweet-unit {
  padding-bottom: 10px; }

.search-term {
  font-size: 14px; }

.search-term.btn {
  padding: 2px; }

#loading-conversations, #loading-tweets {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite; }

#view_new {
  text-align: center;
  padding-top: 20px;
  background-color: #5e97a0;
  color: white;
  margin: -10px;
  cursor: pointer;
  cursor: hand;
  margin-left: -10px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.twitter-name {
  font-weight: bold;
  font-size: 11px; }

.twitter-screen-name {
  color: #575757;
  font-size: 10px; }

.favorited {
  color: #B29600; }

#compose {
  height: 75px; }
  #compose textarea {
    width: 200px;
    float: left; }
  #compose .compose-controls {
    float: left;
    width: 40px;
    padding-left: 10px; }
  #compose .red {
    color: red; }

.col-top {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #d2e2e3; }

.col-header {
  height: 20px;
  position: relative; }

.compose-button {
  width: 50px;
  padding: 3px;
  font-size: 10px; }

.compose-open-col-body {
  height: 70%; }

.col-controls {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px; }

.right {
  position: absolute;
  right: 3px;
  bottom: 3px; }

.toggle-compose {
  font-size: 10px; }
  .toggle-compose glyphicon-chevron-down {
    font-size: 10px; }

.stat-action-taken {
  color: gold; }

body {
  background-color: #2090a1; }

#marketing_page {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-bottom: -40px; }

.login-form {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  background-color: #2090a1;
  border-radius: 20px; }

.login-form-inner {
  width: 170px;
  margin: auto;
  height: 100px;
  padding-top: 60px; }

.register-button {
  width: 150px;
  height: 75px;
  border-radius: 10px;
  background-color: #2090a1;
  font-size: 18px; }

.tweet-stat {
  cursor: pointer;
  cursor: hand; }

.register-submit {
  position: relative;
  padding-left: 10px; }
  .register-submit .link {
    position: absolute;
    bottom: 0;
    left: 75px;
    color: #d2e2e3;
    font-size: 10px; }
    .register-submit .link a {
      color: #d2e2e3;
      text-decoration: underline; }
  .register-submit .forgot-password {
    bottom: 20px; }

.instructions {
  padding: 20px;
  color: #767676; }

/* marketing page */
@keyframes imageAnimation {
  0% {
    opacity: 0; }

  8% {
    opacity: 1; }

  17% {
    opacity: 1; }

  19% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in-out; }

  8% {
    opacity: 1; }

  17% {
    opacity: 1; }

  19% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes titleAnimation {
  0% {
    opacity: 0; }

  8% {
    opacity: 1; }

  17% {
    opacity: 1; }

  19% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0; }

  8% {
    opacity: 1; }

  17% {
    opacity: 1; }

  19% {
    opacity: 0; }

  100% {
    opacity: 0; } }

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  list-style-type: none; }

.cb-slideshow:after {
  content: '';
  background-color: #28c7e1;
  opacity: 0.5; }

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 24s linear infinite 0s;
  -webkit-animation: imageAnimation 24s linear infinite 0s; }

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 24s linear infinite 0s;
  -webkit-animation: titleAnimation 24s linear infinite 0s; }

.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  padding: 0;
  line-height: 200px; }

.cb-slideshow li:nth-child(1) span {
  background-image: url("/static/images/man_looking_up.jpg"); }

.cb-slideshow li:nth-child(2) span {
  background-image: url("/static/images/tourist_glasses.jpg");
  animation-delay: 6s;
  -webkit-animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url("/static/images/man_looking_up.jpg");
  animation-delay: 12s;
  -webkit-animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url("/static/images/tourist_glasses.jpg");
  animation-delay: 18s;
  -webkit-animation-delay: 18s; }

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
  -webkit-animation-delay: 6s; }

.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
  -webkit-animation-delay: 12s; }

.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
  -webkit-animation-delay: 18s; }

.register {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #5e97a0;
  color: white;
  width: 80px;
  z-index: 999;
  width: 120px;
  height: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  cursor: hand; }

.login {
  top: 20px;
  right: 150px;
  position: absolute;
  background-color: #5e97a0;
  color: white;
  width: 120px;
  z-index: 999;
  height: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  cursor: hand; }

.formError {
  font-size: 10px;
  background-color: black;
  opacity: .3;
  color: white;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 30px;
  padding: 7px;
  text-align: center; }

.login-register-form .cnkt-header {
  font-size: 50px;
  text-align: center; }
.login-register-form .helper-text {
  text-align: center;
  margin-bottom: 20px; }

.payments .payments-table {
  width: 400px;
  margin-left: auto;
  margin-right: auto; }
.payments .payments-row {
  margin-top: 10px;
  margin-bottom: 10px; }
.payments .header {
  border-bottom: 4px dotted black;
  font-size: 24px; }
.payments .subheader {
  font-weight: 900; }

#carousel-example-generic {
  /*
     height: 200px;
     width:100%;
     position: absolute;
     top: 0px;
     left: 0px;
      
      .carousel-inner {
  	height: 100%;
  	width: 100%;
      }
  */ }
  #carousel-example-generic .item {
    background-color: #28c7e1;
    height: 100%;
    width: 100%;
    color: transparent;
    text-shadow: 0px 0px 0 black, 1px 1px 0 black, 2px 2px 1px black, 2px 2px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.2); }
    #carousel-example-generic .item h1 {
      font-size: 58px; }
  #carousel-example-generic .pic {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none; }
  #carousel-example-generic .c1 {
    background-image: url("/static/images/man_looking_up.jpg"); }
  #carousel-example-generic .c3 {
    background-image: url("/static/images/tourist_glasses.jpg"); }
  #carousel-example-generic .c2 {
    background-image: url("/static/images/payphone.jpg"); }
  #carousel-example-generic .c4 {
    background-image: url("/static/images/spiderweb.jpg"); }
  #carousel-example-generic .carousel-caption {
    top: 50%;
    margin-top: -75px;
    bottom: auto; }

/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-bottom: 40px;
  color: #5a5a5a; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 60px; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px; }

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px; }

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px; }

.messaging p {
  font-size: 16px; }

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */ }

.featurette {
  padding-top: 120px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */ }

.featurette-image {
  margin-top: -120px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */ }

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px; }

.featurette-image.pull-right {
  margin-left: 40px; }

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0; }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */ }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px; }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; } }
#marketing_video {
  width: 100%; }

.item {
  background-color: #28c7e1;
  height: 100%;
  width: 100%;
  color: transparent;
  text-shadow: 0px 0px 0 black, 1px 1px 0 black, 2px 2px 1px black, 2px 2px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.2); }
  .item h1 {
    font-size: 58px; }

.pic {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none; }

.c1 {
  background-image: url("/static/images/man_looking_up.jpg");
  background-position: 25% 25%; }

.c3 {
  background-image: url("/static/images/tourist_glasses.jpg"); }

.c2 {
  background-image: url("/static/images/payphone.jpg"); }

.c4 {
  background-image: url("/static/images/spiderweb.jpg"); }

.carousel-caption {
  top: 50%;
  margin-top: -75px;
  bottom: auto; }

.quote {
  font-family: 'Noticia Text', serif;
  font-size: 30px; }
